{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comparison</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body background = "https://i.ytimg.com/vi/PenI9DE1dx4/maxresdefault.jpg">
	<table style="width:100%">
  <tr>
    <th>Search</th>
    <th></th> 
    <th></th>
  </tr>
  <tr>
    <td>
      <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/forecast/">Phuket, Thailand</a>
    </td>
    <td>
      <img src="https://cdn1.iconfinder.com/data/icons/weather-429/64/weather_icons_color-14-512.png" width="100" height="75">
    </td> 
    <td>30/24</td>
  </tr>
  <tr>
    <td>
      <a href="https://weather.com/weather/today/l/THXX0018:1:TH">Bali, Indonesia</a>
    </td>
    <td>
       <img src="https://cdn3.iconfinder.com/data/icons/summertime-1/44/summertime-03-512.png" width="100" height="75">
    </td> 
    <td>31/245</td>
  </tr>
  <tr>
    <td>
      <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/forecast/">Berkeley, CA</a>
    </td>
    <td>
     <img src="https://cdn3.iconfinder.com/data/icons/summertime-1/44/summertime-03-512.png" width="100" height="75">
    </td> 
    <td>30/24</td>
  </tr>
  <tr>
    <td>
      <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/forecast/">L.A., CA</a>
    </td>
    <td>
       <img src="https://cdn3.iconfinder.com/data/icons/summertime-1/44/summertime-03-512.png" width="100" height="75">
    </td> 
    <td>30/24</td>
  </tr>
  <tr>
    <td>
      <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/forecast/">Koh Tao, Thailand</a>
    </td>
    <td>
      <img src="https://cdn1.iconfinder.com/data/icons/weather-429/64/weather_icons_color-14-512.png" width="100" height="75">    </td> 
    <td>30/24</td>
  </tr>
  <tr>
    <td>
      <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/forecast/">Pangan, Thailand</a>
    </td>
    <td> 
      <img src="https://cdn3.iconfinder.com/data/icons/summertime-1/44/summertime-03-512.png" width="100" height="75">
    </td> 
    <td>32/28</td>
  </tr>
  <tr>
    <td>
      <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/forecast/">Koh Samui, Thailand</a>
    </td>
    <td>
     <img src="https://cdn3.iconfinder.com/data/icons/summertime-1/44/summertime-03-512.png" width="100" height="75">
    </td> 
    <td>32/28</td>
  </tr>
  <tr>
    <td>
      <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/forecast/">Jarkata, Indonesia</a>
    </td>
    <td>
      <img src="https://cdn1.iconfinder.com/data/icons/weather-429/64/weather_icons_color-14-512.png" width="100" height="75">    </td> 
    <td>32/28</td>
  </tr>
    
   <!--main menu-->
  <table width="100%">
   <tr>
    <td width="20%">
     <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/"><img src="https://icon2.kisspng.com/20180611/wkr/kisspng-computer-icons-home-symbol-house-5b1ec297ab2656.176624721528742551701.jpg" width="25" height="40"/></a>
     </td>
    <td></td>
    <td width="20%">
     <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/comparison/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQExDun8nGYxCuyM13eN9VtsZJJPoIaBHBJ-a4R6iWEGzfXR5zq" width="25" height="40"/></a>
     </td>
   </tr>
  </table>
    
</body>
</html>
