{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
  <body background = "http://static.asiawebdirect.com/m/phuket/portals/phuket-com/homepage/tours/10mustdo/pagePropertiesImage/phuket-tours.jpg.jpg">
  
  <!-- main header-->
  <div id="current" class="wrapper">
    <h1 class="location">
      <font color="white">PHUKET, Thailand</font>
      <img src="https://icon2.kisspng.com/20171220/gce/attention-png-5a3a4d9a306239.29435709151377039419827677.jpg" width="100" height="75">
    </h1>
    <h2 class="location">
      <font color="white">Sunday, July 30, 2019</font>
    </h2>
    <img src="https://cdn1.iconfinder.com/data/icons/weather-429/64/weather_icons_color-14-512.png" width="300" height="250">
  </div>
  <!-- Warming -->
    <h1 class="warning">
      <font color="white">Tornado Incoming!</font>
    </h1>
    <h2>
      <font color ="white">
        To all sailer and traveller, be careful going offshore during this time period. The expected wave height is 5 meters and the wind sleep is at 7 knots.
      </font>
    </h2>
    <h3 class="pic">
      <img src="https://www.weather.gov/images/impacts/examples/IBW_T1.png" width="300" height="250">
    </h3>
  
  </div>
   <img src="https://banner2.kisspng.com/20180419/pve/kisspng-bicycle-cycling-mountain-biking-computer-icons-cyclist-logo-5ad88785b1c7c3.1065152715241399097282.jpg" width="200" height="150">
  
  <!--main menu-->
  <table width="100%">
   <tr>
    <td width="20%">
     <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/"><img src="https://icon2.kisspng.com/20180611/wkr/kisspng-computer-icons-home-symbol-house-5b1ec297ab2656.176624721528742551701.jpg" width="25" height="40"/></a>
     </td>
    <td></td>
    <td width="20%">
     <a href="http://project-1-starter-code-promputthisri-promputthisri499532.codeanyapp.com:3000/weather/comparison/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQExDun8nGYxCuyM13eN9VtsZJJPoIaBHBJ-a4R6iWEGzfXR5zq" width="25" height="40"/></a>
     </td>
   </tr>
  </table>
  
</body>
</html>





